
@{
    ViewData["Title"] = "Home Page";
}

    <body>

<div class="text-center">
    <strong>
    <h1 strclass="display-4">BIENVENIDOS A PIZZA HUTT</h1>
   </strong>
   <strong>
    <h2>No hay nada mejor que una pizza de Pizza Hut</h2>
    </strong>

   
      
    </div>
    
</div>
<div class="right-iframe">
        <iframe
            permitir="micrófono;"
            width="350"
            height="430"
            src="https://console.dialogflow.com/api-client/demo/embedded/bdb607d3-0432-4ae4-933a-bb83f40e0293">
        </iframe>
    </div>

</body>


<style>
 
body{
  
   width: 100%;
   background-image: url(https://scontent.flim13-1.fna.fbcdn.net/v/t1.6435-9/93234292_3713879778653526_2698001539410165760_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeG04ieR4oH5MThF5CBsnbOdGm_6D0CMr74ab_oPQIyvvl5y8MsZPrPFCFOFkx1rBcygkKA4LTBfrZmknVvikXbb&_nc_ohc=4NSXlHOD9mUQ7kNvgGE1QUt&_nc_ht=scontent.flim13-1.fna&oh=00_AYCxmtVkxz-RYIiuccBhHQXw45HUvbToD3NB4hKIg1safw&oe=6685EB65);
   background-position: center;
   background-repeat: no-repeat;
   background-size: 150%;
   
}
  
 h1{
    color: black;
    
 }
 
 h2{
    color: green;
    line-height: 310px;
 }



</style>